
body{
	/*margin-left: 50px;
	margin-right: 50px;*/
	/*background-image: url("SW5.jpg");*/
	background-image: url("SW2.jpg");
	/*background-size: 1280pt 800pt;*/
	background-size: cover;
    background-repeat: no-repeat;
	font-family: sans-serif;
}

.outerlinks {
	margin-left: 50px;
	margin-right: 50px;
}
	
.headinner {
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 20pt;
}

#hphoto {
	margin-left: 30pt;
}

div.header_links {
	border-bottom: 2px navy solid;
	min-width: 1000pt;
	max-width: auto;
	margin: auto;
	background-color: #dddddd;
	padding-top: 50pt;
}

div.header_links a {
	padding: 20pt;
}

a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #21618C;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #0E6655;
    background-color: transparent;
    text-decoration: underline;
}

div.header_links a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
div.header_links a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
div.header_links a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
div.header_links a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

div.resume {
	border: 5px black solid;	
	max-width: 500pt;
}

h2 {
	margin-left: 30px;
}

.outer, .headinner, .headouter{
	min-width: 1000pt; max-width: 1500pt; height: auto; overflow:hidden; padding:10px;
}

.outer {
	border:2px solid navy;
	background-color: #dddddd;
	margin: 10pt;
}

#resume {
	float: left;
	border-right: 2px navy solid;
	padding-right: 25pt;
	margin-left: 20pt;
}

#edi {
	float: right;
	margin-right: 65pt;
	box-sizing: inherit;
}

.innerwrap {
	
}

.assignments {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	margin-top: 20pt;
}

.assignments td, th {
    border: 1px navy solid;
    text-align: left;
    padding: 8px;
}

.assignments tr:nth-child(even) {
    background-color: #dddddd;
}
.assignments tr:nth-child(odd) {
	background-color: #ffffff;
}

#about {
	margin-left: 40%;
	margin-right: 40%;
}

.ccode {
	color: red;
	font-weight: bold;
}

